digital_twin_json
[
    {
        "id": "e43e09d6dffb4cb2",
        "type": "tab",
        "label": "ESP32 LED Digital Twin",
        "disabled": false,
        "info": "Digital twin for ESP32 LED Toggle with Button Interrupt + Debounce"
    },
    {
        "id": "60240fb6b3c9441c",
        "type": "mqtt in",
        "z": "e43e09d6dffb4cb2",
        "name": "LED state in",
        "topic": "kvv/lab/led/green/state",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8994888ba8746f4ac55dad6ae84cff5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "fmt_state_text",
                "map_state_num"
            ]
        ]
    },
    {
        "id": "fmt_state_text",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "Format state text",
        "func": "let s = String(msg.payload).toUpperCase();\nif (s === '1' || s === 'ON' || s === 'TRUE') s = 'ON';\nelse if (s === '0' || s === 'OFF' || s === 'FALSE') s = 'OFF';\nmsg.payload = 'LED State: ' + s;\nmsg.state = s; // keep a clean state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "ui_text_state",
                "ui_toast_state",
                "to_led_payload"
            ]
        ]
    },
    {
        "id": "to_led_payload",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "Prepare LED value",
        "func": "let s = (msg.state !== undefined) ? String(msg.state).toUpperCase() : String(msg.payload).toUpperCase();\nif (s === '1' || s === 'ON' || s === 'TRUE') s = 'ON';\nelse s = 'OFF';\nmsg.payload = s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 60,
        "wires": [
            [
                "ui_led_indicator"
            ]
        ]
    },
    {
        "id": "ui_led_indicator",
        "type": "ui_led",
        "z": "e43e09d6dffb4cb2",
        "order": 3,
        "group": "ui_group_main",
        "width": "3",
        "height": "1",
        "label": "LED",
        "labelPlacement": "left",
        "colorForValue": [
            {
                "color": "#d62728",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#2ca02c",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "dot",
        "name": "LED status",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "ui_text_state",
        "type": "ui_text",
        "z": "e43e09d6dffb4cb2",
        "group": "ui_group_main",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "LED state text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_toast_state",
        "type": "ui_toast",
        "z": "e43e09d6dffb4cb2",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Toast on state change",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "map_state_num",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "State竊誰umber",
        "func": "let s = String(msg.payload).toUpperCase();\nlet n = (s === '1' || s === 'ON' || s === 'TRUE') ? 1 : 0;\nreturn {payload: n};",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 150,
        "wires": [
            [
                "ui_chart_state"
            ]
        ]
    },
    {
        "id": "ui_chart_state",
        "type": "ui_chart",
        "z": "e43e09d6dffb4cb2",
        "name": "LED State chart",
        "group": "ui_group_log",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "LED State (0=OFF, 1=ON)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "12",
        "removeOlderUnit": "60",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e"
        ],
        "outputs": 0,
        "x": 650,
        "y": 150,
        "wires": []
    },
    {
        "id": "ui_switch_cmd",
        "type": "ui_switch",
        "z": "e43e09d6dffb4cb2",
        "name": "LED Command",
        "label": "LED Command",
        "tooltip": "Toggle to send LED ON/OFF",
        "group": "ui_group_main",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "green",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "red",
        "animate": true,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "mqtt_out_cmd"
            ]
        ]
    },
    {
        "id": "mqtt_out_cmd",
        "type": "mqtt out",
        "z": "e43e09d6dffb4cb2",
        "name": "LED cmd out",
        "topic": "kvv/lab/led/green/cmd",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8994888ba8746f4ac55dad6ae84cff5",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "mqtt_in_btn",
        "type": "mqtt in",
        "z": "e43e09d6dffb4cb2",
        "name": "Button events in",
        "topic": "kvv/lab/button/green",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8994888ba8746f4ac55dad6ae84cff5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "fmt_btn_text",
                "map_btn_to_num"
            ]
        ]
    },
    {
        "id": "fmt_btn_text",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "Format button text",
        "func": "const t = new Date().toLocaleTimeString();\nmsg.payload = `Button: ${String(msg.payload)} @ ${t}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "ui_text_btn"
            ]
        ]
    },
    {
        "id": "ui_text_btn",
        "type": "ui_text",
        "z": "e43e09d6dffb4cb2",
        "group": "ui_group_log",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Button event text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "map_btn_to_num",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "Button竊誰umber",
        "func": "let s = String(msg.payload).toUpperCase();\nlet n = (s.includes('PRESS')) ? 1 : 0;\nreturn {payload: n};",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "ui_chart_btn"
            ]
        ]
    },
    {
        "id": "ui_chart_btn",
        "type": "ui_chart",
        "z": "e43e09d6dffb4cb2",
        "name": "Button Presses",
        "group": "ui_group_log",
        "order": 3,
        "width": "12",
        "height": "4",
        "label": "Button Press (spikes)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "12",
        "removeOlderUnit": "60",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#2ca02c",
            "#d62728"
        ],
        "outputs": 0,
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "e66535c7ad799cd4",
        "type": "mqtt in",
        "z": "e43e09d6dffb4cb2",
        "name": "LED state in",
        "topic": "kvv/lab/led/red/state",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8994888ba8746f4ac55dad6ae84cff5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "80f62bc8f3073942",
                "6d4f201bd57af1e1"
            ]
        ]
    },
    {
        "id": "80f62bc8f3073942",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "Format state text",
        "func": "let s = String(msg.payload).toUpperCase();\nif (s === '1' || s === 'ON' || s === 'TRUE') s = 'ON';\nelse if (s === '0' || s === 'OFF' || s === 'FALSE') s = 'OFF';\nmsg.payload = 'LED State: ' + s;\nmsg.state = s; // keep a clean state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "c058124d860922be",
                "1f346a5157d734d7",
                "b594d3f761577993"
            ]
        ]
    },
    {
        "id": "b594d3f761577993",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "Prepare LED value",
        "func": "let s = (msg.state !== undefined) ? String(msg.state).toUpperCase() : String(msg.payload).toUpperCase();\nif (s === '1' || s === 'ON' || s === 'TRUE') s = 'ON';\nelse s = 'OFF';\nmsg.payload = s;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "6406ba5a57989025"
            ]
        ]
    },
    {
        "id": "6406ba5a57989025",
        "type": "ui_led",
        "z": "e43e09d6dffb4cb2",
        "order": 3,
        "group": "ui_group_main",
        "width": "3",
        "height": "1",
        "label": "LED",
        "labelPlacement": "left",
        "colorForValue": [
            {
                "color": "#d62728",
                "value": "OFF",
                "valueType": "str"
            },
            {
                "color": "#2ca02c",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "dot",
        "name": "LED status",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "c058124d860922be",
        "type": "ui_text",
        "z": "e43e09d6dffb4cb2",
        "group": "ui_group_main",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "LED state text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "1f346a5157d734d7",
        "type": "ui_toast",
        "z": "e43e09d6dffb4cb2",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Toast on state change",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "6d4f201bd57af1e1",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "State竊誰umber",
        "func": "let s = String(msg.payload).toUpperCase();\nlet n = (s === '1' || s === 'ON' || s === 'TRUE') ? 1 : 0;\nreturn {payload: n};",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 530,
        "wires": [
            [
                "dd1ff24b3182995e"
            ]
        ]
    },
    {
        "id": "dd1ff24b3182995e",
        "type": "ui_chart",
        "z": "e43e09d6dffb4cb2",
        "name": "LED State chart",
        "group": "ui_group_log",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "LED State (0=OFF, 1=ON)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "12",
        "removeOlderUnit": "60",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e"
        ],
        "outputs": 0,
        "x": 650,
        "y": 530,
        "wires": []
    },
    {
        "id": "68d00f7611222397",
        "type": "ui_switch",
        "z": "e43e09d6dffb4cb2",
        "name": "LED Command",
        "label": "LED Command",
        "tooltip": "Toggle to send LED ON/OFF",
        "group": "ui_group_main",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "green",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "red",
        "animate": true,
        "x": 410,
        "y": 600,
        "wires": [
            [
                "b4a545a06ca79c3a"
            ]
        ]
    },
    {
        "id": "b4a545a06ca79c3a",
        "type": "mqtt out",
        "z": "e43e09d6dffb4cb2",
        "name": "LED cmd out",
        "topic": "kvv/lab/led/red/cmd",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8994888ba8746f4ac55dad6ae84cff5",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "a90a0e1b4722ec72",
        "type": "mqtt in",
        "z": "e43e09d6dffb4cb2",
        "name": "Button events in",
        "topic": "kvv/lab/button/red",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8994888ba8746f4ac55dad6ae84cff5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "01ba96faa2a5208d",
                "78095b4e1fa62c01"
            ]
        ]
    },
    {
        "id": "01ba96faa2a5208d",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "Format button text",
        "func": "const t = new Date().toLocaleTimeString();\nmsg.payload = `Button: ${String(msg.payload)} @ ${t}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 660,
        "wires": [
            [
                "920e89d305661586"
            ]
        ]
    },
    {
        "id": "920e89d305661586",
        "type": "ui_text",
        "z": "e43e09d6dffb4cb2",
        "group": "ui_group_log",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Button event text",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "78095b4e1fa62c01",
        "type": "function",
        "z": "e43e09d6dffb4cb2",
        "name": "Button竊誰umber",
        "func": "let s = String(msg.payload).toUpperCase();\nlet n = (s.includes('PRESS')) ? 1 : 0;\nreturn {payload: n};",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "8f262fdea6ef00dc"
            ]
        ]
    },
    {
        "id": "8f262fdea6ef00dc",
        "type": "ui_chart",
        "z": "e43e09d6dffb4cb2",
        "name": "Button Presses",
        "group": "ui_group_log",
        "order": 3,
        "width": "12",
        "height": "4",
        "label": "Button Press (spikes)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "12",
        "removeOlderUnit": "60",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#2ca02c",
            "#d62728"
        ],
        "outputs": 0,
        "x": 660,
        "y": 700,
        "wires": []
    },
    {
        "id": "b8994888ba8746f4ac55dad6ae84cff5",
        "type": "mqtt-broker",
        "name": "Local_1",
        "broker": "172.19.58.228",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_group_main",
        "type": "ui_group",
        "name": "Main",
        "tab": "ui_tab_led",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_log",
        "type": "ui_group",
        "name": "Event Log",
        "tab": "ui_tab_led",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_tab_led",
        "type": "ui_tab",
        "name": "LED Twin",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ef66eebae10ed32e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-ui-led": "0.4.11",
            "node-red-dashboard": "3.6.6"
        }
    }
]
